from playwright.sync_api import Page, Locator, expect


class {{ class_name }}:
    def __init__(self, page: Page):
        self.page = page
{% for loc in locators %}
        self.{{ loc.var_name }}: Locator = {{ loc.playwright_code }}
{% endfor %}

{% for method in methods %}
    def {{ method.name }}(self{{ method.params_signature }}):
{% for line in method.body_lines %}
        {{ line }}
{% endfor %}

{% endfor %}
