import pytest
from playwright.sync_api import Page, expect
{% for pom_import in pom_imports %}
from {{ pom_import.module }} import {{ pom_import.class_name }}
{% endfor %}


{% for tag in tags %}
@pytest.mark.{{ tag }}
{% endfor %}
def {{ test_func_name }}(page: Page):
{% for inst in pom_instantiations %}
    {{ inst }}
{% endfor %}
{% for step in steps %}
    {{ step.code }}
{% endfor %}
